<head>
    <meta charset="UTF-8">
    <title>订单</title>
    <link rel="stylesheet" type="text/css" href="css/busi_platform/business/order/orders.css">

</head>

<div class="order_content" id="order_Manage">

    <!--订单-->
    <div class="order_content_r">

        <h5>订单>所有订单</h5>

        <!--订单筛选-->
        <div id="queryOrderDiv" class="search_order">
            <span class="ipts">
               <label>商品名称： <input type="text" id="productName" class="ipt productName"></label>
            </span>
            <span class="ipts">
                <label>成交时间： <input type="text" id="modifyStartTime" class="time modifyStartTime">
                </label>
                <label>到  <input type="text" id="modifyEndTime" class="time modifyEndTime"></label>
            </span>
            <a class="ipts nearlyTime" href="javascript:;" data-value="7">近7天</a><a href="javascript:;" class="nearlyTime" data-value="30">近30天</a>
            <span class="ipts">
                <label>买家名字： <input type="text" id="userNickname" class="ipt userNickname"></label>
            </span>
            <span>
                <label>订单状态： <select id="orderStatus" class="ipt orderStatus">
                    <option value="">- - -</option>
                    <option value="1">待付款</option>
                    <option value="2">待发货</option>
                    <option value="3">已发货</option>
                    <option value="4">已完成</option>
                    <option value="5">已关闭</option>
                </select></label>
            </span>
            <span>
                <label>订单编号： <input type="text" id="orderNumber" class="ipt orderNumber"></label>
            </span>
            <span>
                <label>支付方式：
                    <select class="ipt " id="orderPayType">
                        <option value="">全部</option>
                        <option value="1">支付宝</option>
                        <option value="2">微信</option>
                        <option value="3">银联</option>
                    </select>
                </label>
            </span>
            <div style="text-align: center">
                <a class="filter" href="javascript:;" id="filter">筛选</a>
            </div>
        </div>
        <!--订单筛选-->

        <!--订单导航-->
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" id="all_order">全部</a>
                </li>
                <li>
                    <a data-toggle="tab" id="readyBuyShop">待付款</a>
                </li>
                <li>
                    <a data-toggle="tab" id="readySendGoods">待发货</a>
                </li>
                <li>
                    <a data-toggle="tab" id="HasSendGoods">已发货</a>
                </li>
                <!--<li>-->
                <!--<a data-toggle="tab" href="#DuringRefund">退款中</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a data-toggle="tab" href="#returnGoods">退货中</a>-->
                <!--</li>-->
                <li>
                    <a data-toggle="tab" href="" id="HasOver">已完成</a>
                </li>
                <li>
                    <a data-toggle="tab" href="" id="HasClose">已关闭</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="orders tab" id="ordersList" style="margin-left: -12px">
                        <table class="tabs" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr style="height: 20px;"></tr>
                                <tr>
                                    <th>商品信息</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>售后</th>
                                    <th>买家</th>
                                    <th>订单状态</th>
                                    <th>实付金额</th>
                                    <th>支付方式</th>
                                </tr>
                                <tr style="height: 10px;background: #fff;"></tr>
                            </thead>
                            <tbody id="allOrders"></tbody>
                        </table>
                        <div class="excel_content">
                            <div class="pagination"></div>
                            <a href="###" class="Order_Make_excel">导出并生成Excel</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--订单导航-->
    </div>
<script id="orderTableTmpl" type="text/x-jsrender">
{{for orderProductVos}}
    <tr style="height:10px;"></tr>
    <tr class="order_title" data-index="{{:#index}}">
        <td colspan="5">
            <span>订单号:{{:orderNumber}}</span>
            <span>下单时间:{{:createTime}}</span>
        </td>
        <td colspan="3">
            <a href="###" class="details CheckDetails">查看详情</a>
            <a href="javascript:;" data-orderId={{:orderId}} class="details order_Remark">备注</a>
        </td>
    </tr>
    {{for orderProducts ~length=orderProducts.length ~userNickname=userNickname ~finalPrice=finalPrice ~payType=payType ~orderStatus=orderStatus ~orderStatusItemName=orderStatusItemName ~orderId=orderId}}
        <tr>
            <td width="27%" class="order_shop">
                <p>
                    <img src="{{:productPic}}" class="fl order_image">
                    <a class="fl" href="javascript:;">
                        <span>{{:brandName}}</span>
                        <span>{{:productName}}</span>
                        <span>{{:productSpecification}}</span>
                        <span>商品代码:{{:articleNumber}}</span>
                    </a>
                </p>
            </td>
            <td width="8%">￥{{:productPrice}}</td>
            <td width="8%">{{:productCount}}</td>
            <td width="13%">
                <a href="javascript:;" class="afterSale"
                    data-returnrefundstatus="{{:returnRefundStatus}}"
                    data-orderproductid="{{:orderProductId}}">
                    {{:returnRefundStatus===999?"无"
                    :returnRefundStatus===0?"无"
                    :returnRefundStatus%10===1?"待商家审核"
                    :returnRefundStatus%10===2?"商家驳回"
                    :returnRefundStatus%10===3?"待平台审核"
                    :returnRefundStatus%10===4?"待平台处理"
                    :returnRefundStatus%10===5?"平台驳回"
                    :returnRefundStatus%10===6?"退款完成"
                    :returnRefundStatus%10===7?"待买家发货"
                    :returnRefundStatus%10===8?"待商家收货"
                    :returnRefundStatus%10===9?"商家驳回":"无"}}
                </a>
            </td>
            {{if #index===0}}
                <td width="12%" rowspan="{{:~length}}">{{:~userNickname}}</td>

                <!--判断订单状态-->
                {{if ~orderStatus===1}}
                    <td width="14%" rowspan="{{:~length}}" data-orderid={{:~orderId}}>
                         <span class="cancelPrevSpan">{{:~orderStatusItemName}}</span>
                         <a class="cancel cancelOrders">取消订单</a>
                    </td>
                    {{else ~orderStatus===2}}
                        <td width="14%" rowspan="{{:~length}}">
                            <span>{{:~orderStatusItemName}}</span>
                            <a class="cancel Deliver_Goods">发货</a>
                        </td>
                    {{else ~orderStatus===0}}
                        <td width="14%" rowspan="{{:~length}}">
                            <span>订单关闭</span>
                        </td>
                    {{else}}
                        <td width="14%" rowspan="{{:~length}}">
                            <span>{{:~orderStatusItemName}}</span>
                        </td>
                {{/if}}
                <!--判断订单状态-->

                <td width="8%" rowspan="{{:~length}}">￥{{:~finalPrice}}</td>
                <td width="9%" rowspan="{{:~length}}" style="border-right:0" >
                    {{if ~payType===1}}
                        支付宝
                        {{else ~payType===2}}
                        微信
                        {{else ~payType===3}}
                        银联
                    {{/if}}
                </td>
            {{/if}}
        </tr>
    {{/for}}
{{/for}}

</script>
</div>
<div id="afterSales"></div>


<!--退款售后详情-->
<script type="text/x-jsrender" id="checkRefund_Tmp">
<!--订单流程-->
<div class="OrderProcess" id="platform_Refund">
    <ul class="wizard-steps">
        <li class="active">
            <span class="wizeard-Top">买家提交退款申请</span>
            <span class="step">1</span>
            <span class="title"><time>{{:createTime}}</time></span>
        </li>
        <li>
            <span class="wizeard-Top">商家同意退款申请</span>
            <span class="step">2</span>
            <span class="title"></span>
        </li>
        <li>
            <span class="wizeard-Top">平台同意申请付款</span>
            <span class="step">3</span>
            <span class="title"></span>
        </li>
        <li>
            <span class="wizeard-Top">退款完成</span>
            <span class="step">4</span>
            <span class="title"></span>
        </li>
    </ul>
</div>
<!--订单导航-->
<!--单个商品详情-->
<div class="Order_Messages">
    <div class="fl OrderDetail_Messages">
        <div>
            <h4>退款信息</h4>
            <span>申请退款时间：<time>{{:createTime}}</time></span>
            <span>退款金额：￥{{:refundTotalMoney}}</span>
            <span data-Order="{{:returnRefundOrderId}}" class="Refund_orderNum">退款单号：{{:returnRefundOrderNumber}}</span>
            <span>退款理由：{{:returnRefundAttr1}}</span>
            {{if returnRefundStatusItemId!=8&&picIdentity==1}}
                <a href="plugins/lookimage/index.html?returnRefundOrderId={{:returnRefundOrderId}}" target="view_window" href="###" data-img="{{:returnRefundOrderId}}">查看图片</a>
            {{/if}}
        </div>
        <div>
            <h4>订单信息</h4>
            <span >订单编号：{{:orderNumber}}</span>
            <span>成交时间：<time>{{:modifyTime}}</time></span>
            <span>收件人：{{:addresse}}</span>
            <span>联系电话：{{:userPhone}}</span>
            <span>收货地址：{{:address}}</span>
        </div>
    </div>
    <div class="fl OrderStatus_note">
        <div class="Order_Status">
            {{if returnRefundLatestStatus===1}}
                <h4>订单状态：买家提交退款申请，商家待审核</h4>
                <a href="###" class="fl" id="Refund_CheckPass">同意</a>
                <a href="###" class="fl" id="Refund_CheckRefuse">驳回</a>

                {{else returnRefundLatestStatus===4}}
                <h4>订单状态：待平台退款</h4>

                {{else returnRefundLatestStatus===3}}
                <h4>订单状态：待平台审核</h4>

                {{else returnRefundLatestStatus===2}}
                    <h4>订单状态：商家驳回</h4>
                    <span>驳回理由：{{:returnRefundRejectReason}}</span>

                {{else returnRefundLatestStatus===5}}
                    <h4>订单状态：平台驳回</h4>

                {{else returnRefundLatestStatus===6}}
                    <h4>订单状态：退款完成</h4>
            {{/if}}

        </div>
        <div class="Message_note">
            <h4>留言/备注</h4>
            <span>买家留言：{{:returnRefundAttr1}}</span>
            <span>商家备注：{{:returnRefundAttr2}}</span>
            <a href="###" data-returnRefundOrderId={{:returnRefundOrderId}} class="RefundGods_Remark">备注</a>
        </div>
    </div>
</div>
<!--订单列表-->
<div class="ShopMessage_List">
    <h5 class="fl">商品信息</h5>
    <a href="#" class="fr reback_refundOrder">返回至所有订单列表</a>
    <div class="tab GoodsMessage_List">
        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>商品信息</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>售后</th>
                    <th>买家</th>
                    <th>商家</th>
                    <th>退款金额</th>
                    <th>支付方式</th>
                </tr>
            </thead>
            <tbody id="GoodsMessage_List">
            {{for orderProducts ~userNickname=userNickname ~name=name ~refundTotalMoney=refundTotalMoney ~payType=payType}}
                <tr>
                    <td width="28%" class="Refund_shop">
                        <img src="{{:productPic}}" class="fl Refund_image">
                        <a class="fr" href="javascript:;">
                            <span>{{:productName}}</span>
                            <span>{{:productSpecification}}</span>
                            <span>商品代码{{:articleNumber}}</span>
                        </a>
                    </td>
                    <td width="10%">￥{{:productPrice}}</td>
                    <td width="8%">{{:productCount}}</td>
                    <!--判断订单状态-->
                    {{if returnRefundStatus%10===1}}
                        <td width="13%"><span>待商家审核</span></td>
                        {{else returnRefundStatus%10===2}}
                            <td width="13%"><span>商家驳回</span></td>
                        {{else returnRefundStatus%10===3}}
                            <td width="13%">
                                <span>待平台审核</span>
                            </td>

                            {{else returnRefundStatus%10===4}}
                            <td width="13%">
                                <span>待平台退款</span>
                            </td>
                                {{else returnRefundStatus%10===5}}
                                <td width="13%">
                                    <span>平台驳回</span>
                                </td>
                                    {{else returnRefundStatus%10===6}}
                                    <td width="13%">
                                        <span>退款完成</span>
                                    </td>

                    {{/if}}
                    <!--判断订单状态-->
                    <td width="10%">{{:~userNickname}}</td>
                    <td width="10%">{{:~name}}</td>
                    <td width="11%">￥{{:~refundTotalMoney}}</td>
                        {{if ~payType===1}}
                            <td width="6%">支付宝</td>
                            {{else ~payType===2}}
                                <td width="6%">微信</td>
                                {{else ~payType===3}}
                                    <td width="6%">银联</td>
                        {{/if}}
                </tr>
            {{/for}}
            </tbody>
        </table>
    </div>
</div>
<!--订单列表-->
<!--单个商品详情-->
</script>

<!--退货售后详情-->
<script type="text/x-jsrender" id="checkRefundGoods_details_Tmp">
<!--订单流程-->
<div class="OrderProcess" id="fuelux-wizard">

    <ul class="wizard-steps">
        <li class="active">
            <span class="wizeard-Top">买家提交退货申请</span>
            <span class="step">1</span>
            <span class="title"><time>{{:createTime}}</time></span>
        </li>
        <li>
            {{if returnRefundLatestStatus==2}}
                <span class="wizeard-Top">商家驳回退货申请</span>
            {{/if}}
            {{if returnRefundLatestStatus!=2}}
                <span class="wizeard-Top">商家同意退货申请</span>
            {{/if}}
            <span class="step">2</span>
            <span class="title"></span>
        </li>
        <li>
            <span class="wizeard-Top">买家退货</span>
            <span class="step">3</span>
            <span class="title"></span>
        </li>
        <li>
            <span class="wizeard-Top">商家确认收货</span>
            <span class="step">4</span>
            <span class="title"></span>
        </li>
        <li>
            <span class="wizeard-Top">平台同意退款</span>
            <span class="step">5</span>
            <span class="title"></span>
        </li>
        <li>
            <span class="wizeard-Top">退款完成</span>
            <span class="step">6</span>
            <span class="title"></span>
        </li>
    </ul>
</div>
    <!--订单流程-->
    <!--订单信息-->
<div class="Order_Messages">
    <div class="fl OrderDetail_Messages">
        <div>
            <h4>退货信息</h4>
            <span>申请退货时间：<time>{{:createTime}}</time></span>
            <span>退款金额：￥{{:refundTotalMoney}}</span>
            <span>退款单号：{{:returnRefundOrderNumber}}</span>
            <span>退货理由：{{:returnRefundAttr1}}</span>
            {{if returnRefundStatusItemId!=8}}
                <a href="plugins/lookimage/index.html?returnRefundOrderId={{:returnRefundOrderId}}" data-img="{{:orderId}}" target="view_window">查看图片</a>
            {{/if}}
        </div>
        <div>
            <h4>订单信息</h4>
            <span data-Order="{{:returnRefundOrderId}}" class="RefundGods_order">订单编号：{{:orderNumber}}</span>
            <span>成交时间：<time>{{:modifyTime}}</time></span>
            <span>收件人：{{:addresse}}</span>
            <span>联系电话：{{:userPhone}}</span>
            <span>收货地址：{{:address}}</span>
        </div>
    </div>
    <div class="fl OrderStatus_note">
        <div class="Order_Status">
            {{if returnRefundLatestStatus===1}}
                 <h4>订单状态：买家提交退款申请，商家待审核</h4>

                 {{else returnRefundLatestStatus===4}}
                    <h4>订单状态：待平台退款</h4>

                 {{else returnRefundLatestStatus===3}}
                    <h4>订单状态：待平台审核</h4>
                    <a href="###" class="fl" id="platform_MonCheck_pass">同意</a>
                    <a href="###" class="fl" id="platform_MonCheck_refuse">驳回</a>

                 {{else returnRefundLatestStatus===2}}
                    <h4>订单状态：商家驳回</h4>
                    <span>驳回理由：{{:returnRefundRejectReason}}</span>

                 {{else returnRefundLatestStatus===5}}
                    <h4>订单状态：平台驳回</h4>

                 {{else returnRefundLatestStatus===6}}
                    <h4>订单状态：退款完成</h4>

                 {{else returnRefundLatestStatus===7}}
                    <h4>订单状态：待买家发货</h4>

                 {{else returnRefundLatestStatus===8}}
                    <h4>订单状态：待商家收货</h4>

                 {{else returnRefundLatestStatus===9}}
                    <h4>订单状态：货品驳回</h4>
            {{/if}}

        </div>
        <div class="Message_note">
            <h4>留言/备注</h4>
            <span>买家留言：{{:returnRefundAttr1}}</span>
            <span>商家备注：{{:returnRefundAttr2}}</span>
            <a href="###" data-returnRefundOrderId={{:returnRefundOrderId}} class="RefundGods_Remark">备注</a>
        </div>
    </div>
</div>
<!--订单信息-->
<!--订单列表-->
<div class="ShopMessage_List">
    <h5 class="fl">商品信息</h5>
    <a href="#" class="fr reback_refundOrder">返回至所有订单列表</a>

    <div class="tab GoodsMessage_List">
        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>商品信息</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>售后</th>
                    <th>买家</th>
                    <th>商家</th>
                    <th>退款金额</th>
                    <th>支付方式</th>
                </tr>
            </thead>
            <tbody id="GoodsMessage_List">
            {{for orderProducts ~payType=payType ~name=name ~length=orderProducts.length ~userNickname=userNickname ~refundTotalMoney=refundTotalMoney ~returnRefundLatestStatus=returnRefundLatestStatus ~returnRefundStatusItemName=returnRefundStatusItemName}}
            <tr>
                <td width="27%" class="Refund_shop">
                    <img src="{{:productPic}}" class="fl Refund_image">
                    <a class="fr" href="javascript:;">
                        <span>{{:productName}}</span>
                        <span>{{:productSpecification}}</span>
                        <span>商品代码{{:articleNumber}}</span>
                    </a>
                </td>
                <td width="10%">￥{{:productPrice}}</td>
                <td width="8%">{{:productCount}}</td>

                {{if #getIndex()===0}}
                    <!--判断订单状态-->
                    {{if ~returnRefundLatestStatus===1}}
                        <td width="13%" rowspan="{{:~length}}">
                             <span>待商家审核</span>
                        </td>
                    {{else ~returnRefundLatestStatus===2}}
                        <td width="13%" rowspan="{{:~length}}">
                            <span>商家驳回</span>
                        </td>
                    {{else ~returnRefundLatestStatus===3}}
                        <td width="13%" rowspan="{{:~length}}">
                            <span>待平台审核</span>
                            <a href="javascript:;" class="cancel Refund_cancel">审核</a>
                        </td>
                    {{else ~returnRefundLatestStatus===4}}
                        <td width="13%" rowspan="{{:~length}}">
                            <span>待平台退款</span>
                            <a href="javascript:;" class="cancel Refund_cancel refund_List" id="create_RefundGodsList">生成退款单</a>
                        </td>
                    {{else ~returnRefundLatestStatus===5}}
                        <td width="13%" rowspan="{{:~length}}">
                            <span>平台驳回</span>
                        </td>
                    {{else ~returnRefundLatestStatus===6}}
                        <td width="13%" rowspan="{{:~length}}">
                            <span>退款完成</span>
                            <a href="javascript:;" class="cancel checkRefund_List">查看退款单</a>
                        </td>
                    {{else ~returnRefundLatestStatus===7}}
                        <td width="13%" rowspan="{{:~length}}">
                            <span>待买家发货</span>
                        </td>
                    {{else ~returnRefundLatestStatus===8}}
                        <td width="13%" rowspan="{{:~length}}">
                            <span>待商家收货</span>
                        </td>
                    {{else ~returnRefundLatestStatus===9}}
                        <td width="13%" rowspan="{{:~length}}">
                            <span>货品驳回</span>
                        </td>

                {{/if}}
                <!--判断订单状态-->
                <td width="10%" rowspan="{{:~length}}">{{:~userNickname}}</td>
                <td width="10%" rowspan="{{:~length}}">{{:~name}}</td>
                <td width="11%" rowspan="{{:~length}}">￥{{:~refundTotalMoney}}</td>
                    {{if ~payType===1}}
                        <td width="6%" rowspan="{{:~length}}">支付宝</td>
                        {{else ~payType===2}}
                            <td width="6%" rowspan="{{:~length}}">微信</td>
                            {{else ~payType===3}}
                                <td width="6%" rowspan="{{:~length}}">银联</td>
                    {{/if}}
                {{/if}}
            </tr>
            {{/for}}
            </tbody>
        </table>
    </div>
</div>
<!--订单列表-->

</script>

<!-- orderManage scripts -->
<script src="js/busi_platform/business/order/orderManage.js"></script>
<!-- orderManage scripts -->

<!--The plug-in -->
<script src="plugins/jquery.paging.min.js"></script>
<!--The plug-in -->