<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/busi_platform/business/order/orders.css">
</head>
<body>
<div id="checkOrder_Info">

</div>
<script type="text/x-jsrender" id="OrderMessage_Tmple">
        <!--订单流程-->
        <div class="OrderProcess" id="fuelux-wizard">
            <ul class="wizard-steps">
                <li class="active">
                    <span class="wizeard-Top">买家下单</span>
                    <span class="step">1</span>
                    <span class="title"><time>{{:createTime}}</time></span>
                </li>
                <li>
                    <span class="wizeard-Top">买家付款</span>
                    <span class="step">2</span>
                    <span class="title"><time></time></span>
                </li>
                <li>
                    <span class="wizeard-Top">商家发货</span>
                    <span class="step">3</span>
                    <span class="title"><time></time></span>
                </li>
                <li>
                    <span class="wizeard-Top">买家确认收货</span>
                    <span class="step">4</span>
                    <span class="title"><time></time></span>
                </li>
                <li>
                    <span class="wizeard-Top">订单完成</span>
                    <span class="step">5</span>
                    <span class="title"><time></time></span>
                </li>
            </ul>
        </div>
            <!--订单流程-->

            <!--订单信息-->
        <div class="Order_Messages">
            <div class="fl OrderDetail_Messages">
                <div>
                    <h4>订单信息</h4>
                    <span data-Order="{{:orderId}}" class="ordersNumber">订单编号：{{:orderNumber}}</span>
                    <span>下单时间：{{:createTime}}</span>

                    {{if activityPrice+freight != totalPrice||couponFlag==1}}
                        <span>原价：￥{{:totalPrice}}</span>
                    {{/if}}

                    {{if activityPrice+freight != totalPrice}}
                        <span>折扣价：￥{{:activityPrice+freight}}</span>
                    {{/if}}

                    {{if couponFlag==1}}
                        <span>优惠券类型：
                            {{if couponType == 2}}
                                代金券
                                {{else couponType==1}}
                                满{{:minimumAmount}}减{{:couponAmount}}元
                            {{/if}}
                        </span>
                        <span>优惠券金额：
                            {{:couponAmount}}
                        </span>
                        <span>
                            实付款：
                            {{:finalPrice}}元
                            {{if freight!=0}}
                                （含邮费{{:freight}}元）
                            {{/if}}
                        </span>
                        {{else}}
                             <span>订单金额：￥{{:finalPrice}}</span>
                    {{/if}}

                </div>
                <div>
                    <h4>收货信息</h4>
                    <span>收件人：{{:addresse}}</span>
                    <span>联系电话：{{:userPhone}}</span>
                    <span>收货地址：{{:address}}</span>
                </div>
            </div>
            <div class="fl OrderStatus_note">
                <div class="Order_Status">
                    {{if orderStatus===1}}
                    <h4>订单状态：{{:orderStatusItemName}}</h4>
                        <span class="countDown">距离订单超时关闭还剩：</span>
                        <a class="cancelOrders">取消订单</a>
                        {{else orderStatus===2}}

                            <h4>订单状态：{{:orderStatusItemName}}</h4>
                            <span>买家已付款至奕赏结算账户，请尽快发货，否则买家有权申请退款</span>
                            <span>如果无法发货，请及时与买家联系并说明情况后进行退款</span>
                            <span>如果订单中有售后的情况，请尽快处理</span>
                            <a href="#logistics_Message" class="Deliver_Goods">发货</a>

                            {{else orderStatus===3}}

                                <h4>订单状态：{{:orderStatusItemName}}</h4>
                                <span class="confirmGods">买家还有 天 时 分 秒来确认收货，超时订单将自动确认收货</span>
                                <span>如果订单中有售后的情况，请尽快处理</span>
                                <a href="javascript:void(0);" class="checkLogistics">查看物流</a>

                                {{else orderStatus===4}}
                                    <h4>订单状态：{{:orderStatusItemName}}</h4>
                                    <span>买家还有 天 时 分 秒来申请售后</span>
                                    <span>如果订单中有售后的情况，请尽快处理</span>
                                    <a href="javascript:void(0);" class="checkLogistics">查看物流</a>
                                    {{else}}
                                        <h4>订单状态：订单关闭</h4>

                    {{/if}}
                </div>
                <div class="Message_note">
                    <h4>留言/备注</h4>
                    <span>买家留言：{{:buyerNote}}</span>
                    <span>商家备注：{{:bussinessRemarks}}</span>
                    <a class="note Order_Remark">备注</a>
                </div>
            </div>
        </div>
            <!--订单信息-->
            <!--订单列表-->
        <div class="ShopMessage_List">
                <h5>商品信息</h5>
            <div class="tab GoodsMessage_List">
                <table cellspacing="0" cellpadding="0" class="col-lg-12">
                    <thead>
                        <tr>
                            <th class="col-lg-3">商品信息</th>
                            <th class="col-lg-1">单价</th>
                            <th class="col-lg-1">数量</th>
                            <th class="col-lg-2">售后</th>
                            <th class="col-lg-2">买家</th>
                            <th class="col-lg-2">订单状态</th>
                            <th class="col-lg-1">实付金额</th>
                        </tr>
                    </thead>
                    <tbody id="GoodsMessage_List">
                    {{for orderProducts ~length=orderProducts.length ~userNickname=userNickname ~finalPrice=finalPrice ~orderStatus=orderStatus ~orderStatusItemName=orderStatusItemName}}
                        <tr>
                            <td>
                                <p>
                                    <img src="{{:productPic}}" class="fl order_image">
                                    <a class="fl" href="javascript:;">
                                        <span>{{:brandName}}</span>
                                        <span>{{:productName}}</span>
                                        <span>{{:productSpecification}}</span>
                                    </a>
                                </p>
                                <p>商品代码:{{:articleNumber}}</p>
                            </td>
                            <td>￥{{:productPrice}}</td>
                            <td>{{:productCount}}</td>
                            <td>{{:returnRefundStatus===0?"无"
                                :returnRefundStatus===999?"无"
                                :returnRefundStatus%10===1?"待商家审核"
                                :returnRefundStatus%10===2?"商家驳回"
                                :returnRefundStatus%10===3?"待平台审核"
                                :returnRefundStatus%10===4?"待平台处理"
                                :returnRefundStatus%10===5?"平台驳回"
                                :returnRefundStatus%10===6?"退款完成"
                                :returnRefundStatus%10===7?"待买家发货"
                                :returnRefundStatus%10===8?"待商家收货"
                                :returnRefundStatus%10===9?"商家驳回":"无"}}
                            </td>
                            {{if #index===0}}
                                <td rowspan="{{:~length}}">{{:~userNickname}}</td>
                                {{if ~orderStatus===1}}
                                    <td rowspan="{{:~length}}" data-orderid={{:~orderId}} class="orderClose">
                                         <span>{{:~orderStatusItemName}}</span>
                                    </td>
                                    {{else ~orderStatus===2}}
                                        <td rowspan="{{:~length}}">
                                            <span>{{:~orderStatusItemName}}</span>
                                        </td>
                                    {{else ~orderStatus===0}}
                                        <td rowspan="{{:~length}}">
                                            <span>订单关闭</span>
                                        </td>
                                    {{else}}
                                        <td rowspan="{{:~length}}">
                                            <span>{{:~orderStatusItemName}}</span>
                                        </td>
                                {{/if}}

                                <td rowspan="{{:~length}}">￥{{:~finalPrice}}</td>
                            {{/if}}
                        </tr>
                        {{/for}}
                    </tbody>
                </table>
            </div>
        </div>
        <!--订单列表-->
</script>

<script src="js/busi_platform/business/order/order_Details.js"></script>

</body>
</html>