<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/base_platform/business/bussiness_list/bussiness_list_shopdetail.css">
    <link rel="stylesheet" href="css/base_platform/business/bussiness_list/business_lookBrand.css">
    <link rel="stylesheet" href="css/base_platform/business/bussiness_list/bussiness_list.css"/>
</head>
<body>
<div id="Business-conntrol">
    <h5>商家管理>商家管理>商家列表</h5>
    <div class="Business_list_top">
        <div>
            <div>
                <label for="Business_name">
                    店铺名称：
                </label>
                <input maxlength="50" type="text" id="Business_name">
            </div>
            <div>
                <label for="Business_chekc">
                    店铺审核：
                </label>
                <select name="" id="Business_chekc">
                    <option value="">所有状态</option>
                    <option value="0">待审核</option>
                    <option value="1">已审核</option>
                    <option value="2">已驳回</option>
                </select>
            </div>
        </div>
        <div>
            <div>
                <label for="Business_promsmoney" style="margin: 0;">
                    保证金缴纳：
                </label>
                <select name="" id="Business_promsmoney">
                    <option value="">所有状态</option>
                    <option value="1">已缴纳</option>
                    <option value="0">未缴纳</option>
                </select>
            </div>
            <div>
                <label for="Shop_status">
                    店铺状态：
                </label>
                <select name="" id="Shop_status">
                    <option value="">所有状态</option>
                    <option value="0">正常</option>
                    <option value="1">禁用</option>
                </select>
            </div>
        </div>
        <div class="Onsale_Sear">
            <a href="#" class="business_filter">筛选</a>
        </div>
    </div>
    <div class="Business_lists_table">
        <table>
            <thead>
            <th style="width:15%;">
                店铺名称
            </th>
            <th style="width:15%;">
                注册时间
            </th>
            <th style="width:15%;">
                联系人手机
            </th>
            <th style="width:15%;">
                店铺审核
            </th>
            <th style="width:15%;">
                保证金
            </th>
            <th style="width:10%;">
                店铺状态
            </th>
            <th style="width:15%;">
                操作
            </th>
            </thead>
            <tbody id="Business_listTable">

            </tbody>
        </table>
        <div>
            <div class="pagination"></div>
        </div>

    </div>
</div>
<!--店铺详情-->
<div id="Shop_Content">
    <h5>商家管理>商家管理>商家列表>查看店铺详情</h5>
    <div>
        <ul class="ShopLi_Change_Tab">
            <li class="active">
                <a href="#Business_shop_detial1" data-toggle="tab">
                    店铺信息
                </a>
            </li>
            <li><a href="#Business_shop_detial2" data-toggle="tab">退货维权设置</a></li>
            <li><a href="#Business_shop_detial3" data-toggle="tab">结算/资质</a></li>
            <li><a href="#Business_shop_detial4" data-toggle="tab">所售品牌</a></li>
        </ul>
        <div class="Shop_Change_Tab tab-content">
            <div id="Business_shop_detial1" class="Shop_Infm tab-pane active">
                <ul  class="Shop_detail_content">
                    <li>
                        <label for="">
                            店铺名称：
                        </label>
                        <div class="shopInform_content">
                            <input type="text" readonly="value" shop-data-name="Shop_Name" maxlength="10" placeholder="10个字以内">
                        </div>
                    </li>
                    <li>
                        <label for="">
                            创建时间：
                        </label>
                        <div class="shopInform_content">
                            <time id="Shop_Creattime"></time>
                        </div>
                    </li>
                    <li class="Shop_Logo">
                        <label for="" class="fl">
                            店铺LOGO：
                        </label>
                        <div class="shopInform_content">
                            <img id="Logo_Img" style="width:80px;height:80px;" src="" alt=""/>
                        </div>
                        <div style="clear:both;overflow:hidden;"></div>
                    </li>

                    <li>
                        <label for="">
                            联系人手机：
                        </label>
                        <div class="shopInform_content">
                            <input readonly="value" type="number" maxlength="11" shop-data-name="Shop_PhoneNum">
                        </div>
                    </li>
                    <li class="Shop_Performance">
                        <label for="" class="fl">
                            店铺保证金：
                        </label>
                        <div class="shopInform_content">
                            <input readonly="value" data-shop-name="payMoney" type="text" disabled="disabled">元
                            <span class="change_promMoney">修改</span>
                        </div>
                        <p class="fl"></p>
                    </li>
                </ul>
            </div>
            <div id="Business_shop_detial2"  class="Refund_Set1 tab-pane">
                <ul>
                    <li>
                        <label for="">
                            收货人&nbsp;：
                        </label>
                        <input readonly="value" type="text" placeholder="真实姓名" shop-data-name="ReceiptGods_Name">
                    </li>
                    <li>
                        <label for="">
                            联系电话：
                        </label>
                        <input readonly="value" type="number" placeholder="请输入电话号" shop-data-name="ReceiptGods_Phone">
                    </li>
                    <li>
                        <label for="">
                            收货地址：
                        </label>
                        <input readonly="value" type="text" placeholder="安福路288号15楼" shop-data-name="ReceiptGods_Address">
                    </li>
                </ul>
            </div>
            <div id="Business_shop_detial3" class="Clearn_aptitude tab-pane">
                <div class="Shop_Make_Infm">
                    <p>开票信息</p>
                    <ul>
                        <li>
                            <label for="">
                                公司名称：
                            </label>
                            <input readonly="value" type="text" shop-data-name="Company_Name" placeholder="">
                        </li>
                        <li>
                            <label for="">
                                税务登记号码：
                            </label>
                            <input readonly="value" type="text" shop-data-name="CompanyTax_Num" placeholder="">
                        </li>
                        <li>
                            <label for="">
                                开户银行：
                            </label>
                            <input readonly="value" type="text" BankCount_Id="" maxlength="19" shop-data-name="BankCount_Name">
                        </li>
                        <li>
                            <label for="">
                                银行账号：
                            </label>
                            <input readonly="value" type="number" maxlength="19" shop-data-name="BankCount_Num">
                        </li>
                        <li>
                            <label for="">
                                公司注册地址：
                            </label>
                            <input readonly="value" type="text" maxlength="11" shop-data-name="Shop_Inm_Addres">
                        </li>
                        <li>
                            <label for="">
                                电话：
                                <input readonly="value" type="number" maxlength="4" id="Shop_Inm_PhoneNum1" shop-data-name="Shop_Inm_PhoneNum1" placeholder="区号">-
                                <input readonly="value" type="number" maxlength="11" id="Shop_Inm_PhoneNum2" shop-data-name="Shop_Inm_PhoneNum2" placeholder="请输入电话号码">
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="Shop_Accout_Infm">
                    <p>结算信息</p>
                    <ul>
                        <li>
                            <label for="">
                                与开票信息中开户银行信息是否相同：
                            </label>
                            <div id="IsOr_same">
                                <input readonly="value" type="radio" disabled checked="checked" name="Shop_Same" value="1"  shop-data-name="Shop_Same_sttle" >相同
                                <input readonly="value" type="radio" disabled name="Shop_Same" value="0" shop-data-name="Shop_disSame_sttle" >不相同
                            </div>
                        </li>
                        <li>
                            <label for="">
                                开户银行：
                            </label>
                            <input readonly="value" type="text"  Settle_Id="" maxlength="19" shop-data-name="Settle_BankCount_name" >
                        </li>
                        <li>
                            <label for="">
                                银行账号：
                            </label>
                            <input readonly="value" type="number" maxlength="19" shop-data-name="Settle_BankCount_code">
                        </li>
                    </ul>
                </div>
                <div class="Shop_Accout_Img">
                    <div>
                        <dl>
                            <dt>
                                公司法人身份证正面
                            </dt>
                            <dd>
                                <div id="Shop_Corporate_front1" class="fl">
                                    <img src="" title="公司法人身份证正面"  shop-aptitudes-img="Company_Font"/>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                公司法人身份证反面
                            </dt>
                            <dd>
                                <div id="Shop_Corporate_contrary1" class="fl">
                                    <img src="" title="公司法人身份证反面" shop-aptitudes-img="Company_opposite" />
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <dl>
                            <dt>
                                营业执照
                            </dt>
                            <dd>
                                <div id="Shop_business_license1" class="fl">
                                    <img src="" title="营业执照" shop-aptitudes-img="Company_license" />
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                税务登记证
                            </dt>
                            <dd>
                                <div id="Shop_business_tax1" class="fl">
                                    <img src="" title="税务登记证" shop-aptitudes-img="Company_tax" />
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <dl>
                            <dt>
                                组织机构代码证
                            </dt>
                            <dd>
                                <div id="Shop_Organ_code1" class="fl">
                                    <img src="" title="组织机构代码证" shop-aptitudes-img="Company_code" />
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                开户许可证
                            </dt>
                            <dd>
                                <div id="Shop_Permission_open1" class="fl">
                                    <img src="" title="开户许可证" shop-aptitudes-img="Company_permission" />
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div id="Business_shop_detial4" class="tab-pane">
                <table id="Business_brand_table" style="width: 100%;">
                    <thead id="Business_tHead">
                    <tr>
                        <th style="width: 20%;">品牌名称</th>
                        <th style="width: 10%;">品牌logo</th>
                        <th style="width: 20%;">一句话描述</th>
                        <th style="width: 10%;">关注人数</th>
                        <th style="width: 10%;">操作</th>
                    </tr>
                    </thead>
                    <tbody id="Business_BrandBody"></tbody>
                </table>
                <div class="pagination" id="Business_pagination"></div>
            </div>
        </div>
    </div>

</div>


<script type="text/x-jsrender" id="bussineList_Templet">
{{for shopInforList}}
    <tr data-shopid={{:shopId}}>
        <td>
            <img src="{{:logoPath}}" alt="">
            <span>{{:name}}</span>
        </td>
        <td>
            <p><time>{{:createTime}}</time></p>
        </td>
        <td>
            <p>{{:contactPhone}}</p>
        </td>
        <td>
            <p>{{:checkStatusName}}</p>
            {{if checkStatus==2}}
                <p>
                    <a href="#" class="Look_refus_reason">查看原因</a>
                </p>
            {{/if}}
        </td>
        <td>
            {{if  isPay===0}}
                <p>未缴纳</p>
                {{else isPay==1}}
                    <p>已缴纳</p>
                    <p>{{:payMoney}}</p>
                    <p><time>
                        {{:ispaytime}}
                       </time>
                    </p>
            {{/if}}
        </td>
        <td>
            {{if shopStatus==1}}
                    <p style="color:red;">{{:shopStatusName}}</p>
                {{else}}
                    <p>{{:shopStatusName}}</p>
            {{/if}}
        </td>
        <td>
            <p><a href="#" class="Look_shop_detail">查看店铺详情</a></p>
            {{if shopStatus==0}}
                <p><a href="#" class="ShopStatus Shop_disable">禁用</a></p>
            {{else shopStatus==1}}
                <p><a href="#" class="ShopStatus Shop_able">启用</a></p>
            {{/if}}
        </td>
    </tr>
{{/for}}
</script>

<script id="Business_Brand_ListTmpl" type="text/x-jsrender">
    {{for shopBrandList}}
        <tr class="Business_BrandList">
            <td colspan="5">
                <p>
                    申请时间:{{:createTime}}
                </p>
            </td>
        </tr>
        <tr data-index="{{:#index}}">
            <td>{{:brandName}}</td>
            <td><img src="{{:logoPath}}"></td>
            <td>{{:pageDesc}}</td>
            <td>{{:collectionCount}}</td>
            <td>
                <a href="javascript:;" class="checkBrand_details">查看</a>
            </td>
        </tr>
    {{/for}}
</script>

<script type="text/x-jsrender" id="Business_BrandDetails_Tmple">
<div class="addBrand" id="Look_addBrand">
<h6>商品管理>品牌管理>品牌列表>查看</h6>
    <div class="addBrandContent">
        <table>
            <tr>
                <td class="leftTd">品牌名称:</td>
                <td class="rightTd">
                    <input type="text" class="inputClass" disabled id="brandName" value="{{:brandName}}">
                    <span class="addBrand_error"></span>
                </td>
            </tr>
                <tr>
                    <td class="leftTd">关联品类:</td>
                    <td class="rightTd" id="check_class">
                    {{for brandCategoryVoList}}
                        <input type="checkbox" checked class="check_class" disabled>{{:categoryName}}
                        <span class="aboutClass"></span>
                    {{/for}}
                    </td>
                </tr>
            <tr>
                <td class="leftTd">品牌logo上传:</td>
                <td class="rightTd upload">
                    <img src="{{:logoPath}}" alt="" style="width:50px;height:50px;">
                    <div id="Brand_logoPath"></div>
                </td>
            </tr>
            <tr>
                <td class="leftTd">品牌背景图上传:</td>
                <td class="rightTd upload">
                    <img src="{{:picPath}}" alt="" style="width: 80px;height: 80px;">
                    <div id="Brand_BgPath"></div>
                </td>
            </tr>
            <tr>
                <td class="leftTd" >一句话描述:</td>
                <td class="rightTd">
                    <input type="text" class="inputClass" disabled placeholder="10个字以内" style="text-align: center" maxlength="10" id="wordDesc" value="{{:pageDesc}}">
                    <span class="dec_error"></span>
                </td>
            </tr>
            <tr>
                <td class="leftTd">详细介绍:</td>
                <td class="rightTd">
                    <textarea rows="5" cols="30" id="detailDesc" disabled>{{:detailedDesc}}</textarea>
                    <span class="detailDesc"></span>
                </td>
            </tr>
            <tr>
                <td class="leftTd">官网地址:</td>
                <td class="rightTd">
                    <input type="text" class="inputClass" id="webAddress" value="{{:remark1}}" disabled>
                    <span class="webAddress"></span>
                </td>
            </tr>
        </table>
    </div>
</div>
</script>
<!--查看详情模板-->

<!--<script>
    var html = $("#Brand_details_Tmple").render(BrandIndex);
    $("#Brand_detailsInfo").append(html);
</script>-->

<script src="js/base_platform/platform_control/bussiness_list.js"></script>
</body>
</html>