*{
    margin:0;padding: 0;}
ul li{list-style: none;}
.fl{
    float: left;}
.fr{
    float: right;}

#RefundGods_Manage{
    width:100%;
    padding:0 20px;
    font-family: "微软雅黑";
    font-size: 14px;
}
#RefundGods_Manage h5{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 900;
}

/*订单*/
#RefundGods_Manage .RefundGods_content .RefundGods_content_r{
    width:100%;
    min-height:300px;
    background: #fff;
    font-size: 14px;
    margin:0 auto;
    font-family: "微软雅黑";
}
/*订单筛选*/
#RefundGods_Manage .RefundGods_content_r .search_RefundGods{
    width:100%;
    min-height: 230px;
    background: #eeeeee;
    padding:28px 30px;
    margin-bottom: 20px;
}
#RefundGods_Manage .search_RefundGods a.ipts{
    display: inline-block;
    margin-left: 14px;
}
#RefundGods_Manage .search_RefundGods a.ipts:nth-of-type(2){
    margin-left: 18px;
}
#RefundGods_Manage .search_RefundGods span{
    display: inline-block;
    margin-bottom: 10px;
}

#RefundGods_Manage .search_RefundGods span .ipt{
    width:200px;height: 40px;
    background: #fff;
    border:1px #ddd solid;
    margin-left: 14px;
    -webkit-border-radius:6px !important;
    -moz-border-radius:6px !important;
    border-radius:6px !important;
}
#RefundGods_Manage .search_RefundGods span .time{
    width:90px;
    height:40px;
    -webkit-border-radius:6px !important;
    -moz-border-radius:6px !important;
    border-radius:6px !important;
}

#RefundGods_Manage .search_RefundGods span:nth-of-type(even){
    margin-left: 70px;
}

#RefundGods_Manage .search_RefundGods .RefundGods_filter{
    display: block;
    text-align: center;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background: red;
    border-radius:5px;
    margin:10px auto 0;
    border: none;
    color: #fff;
}
#RefundGods_Manage .search_RefundGods a.RefundGods_filter:hover{
    text-decoration: none;
}

/*订单导航*/

#RefundGods_Manage  ul li a{
    color: #333;
    text-align: center;
    cursor: pointer;
    padding:8px 10.65px;
    height:50px;
    border-right: 0;
    border-top:1px #ccc solid;
    border-left:1px #ccc solid;
    background: #eee;
}
#RefundGods_Manage  ul li.active a{
    box-shadow: none;
    background: #fff;
}

/*订单列表*/
#RefundGods_Manage .tab-content .RefundGods{
    width:103.3%;
}
#RefundGods_Manage .RefundGods_content_r .nav-tabs{
    border-bottom: 0;
    border-right: 1px #ccc solid;
}

#RefundGods_Manage .RefundGods .tabs{
    width:99.8%;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "微软雅黑";
}
#RefundGods_Manage .RefundGods .tabs thead tr:nth-of-type(1){
    height:20px;
}
#RefundGods_Manage .RefundGods .tabs thead tr:nth-of-type(3){
    height:15px;
}
#RefundGods_Manage .RefundGods .tabs thead tr:nth-of-type(2){
    background: #eee;
    height:50px;
    font-size: 14px;
}
#RefundGods_Manage .RefundGods .tabs thead tr th{
    border:none;
    text-align: center;
    font-size: 14px;
    font-family: "微软雅黑";
    height:50px;
}
#RefundGods_Manage .RefundGods .tabs tr.order_title{
    background: #eee;
    height: 40px;
    border-bottom: 0;
}
#RefundGods_Manage .RefundGods .tabs tr.order_title td:nth-of-type(1){
    text-align:left;
    padding-left:10px;
    border-right:0;
}
#RefundGods_Manage .RefundGods .tabs tr.order_title td:nth-of-type(2) a:nth-of-type(2){
 margin-left: 18px;
}
#RefundGods_Manage .RefundGods .tabs tbody td{
    border:1px #ddd solid;
    text-align: center;
    border-top: 0;
    border-left: 0;
}
#RefundGods_Manage .RefundGods .tabs tbody td.RefundGods_shop{
    text-align: left;
}
#RefundGods_Manage .RefundGods .tabs tbody td.RefundGods_shop p:nth-of-type(1){
    margin-bottom: 5px;
    clear: both;
    overflow: hidden;
    display: flex;
}

#RefundGods_Manage .RefundGods .tabs tbody td.RefundGods_shop a{
    display: block;
    width:110px;
    margin-left: 10px;
    color: #333;
    font-size: 12px;
    flex-grow: 1;
}
#RefundGods_Manage .RefundGods .tabs tbody td.RefundGods_shop a span{
    display: block;
    text-align: left;
}
#RefundGods_Manage .RefundGods .tabs tbody td.RefundGods_shop a span:nth-of-type(3){
    color: #999;
}

#RefundGods_Manage .RefundGods .tabs tbody td img{
    flex-grow: 1;
    width:80px;
    height:80px;
}

#RefundGods_Manage .RefundGods .tabs tbody a.details{
    font-size: 12px;
}

/*取消订单*/
#RefundGods_Manage .RefundGods .tabs tbody .cancel{
    display: block;
    background: #fff;
    border:1px #ddd solid;
    width: 80px;
    padding:3px;
    margin:0 auto;
}
a:hover{
    text-decoration: none;
}

#RefundGods_Manage .RefundGods_image{
    width:50px;
    height:50px;
}
#RefundGods_Manage .RefundGods .tabs tbody td.RefundGods_shop{
    padding:5px 3px 5px 8px;
    text-align: left;
}

/*查看退款单*/
.index-tab-cont .create_RefundTmp{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 99;
    background: #000;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    display: block;
}
.create_RefundList{
    width:400px;
    height:500px;
    background: #fff;
    margin:5% auto;
    z-index: 100;
    position: absolute;
    left:35%;
    top:5%;
}
.create_RefundList h4{
    width:100%;
    height:35px;
    line-height: 35px;
    background: #eee;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bolder;
    margin-top: -15px;
}
.create_RefundList table{
    width:100%;
    font-size: 14px;
    color: #000;
}
.create_RefundList table td{
    border:0;
}
.create_RefundList table>tr td:first-child{
    text-align: right;
    width:50%;
}
.create_RefundList table>tr td:last-child{
    text-align: left;
    width:50%;
}
.create_RefundList .createRefund{
    width:100%;
    height:50px;
    background: #eee;
    text-align: center;
    line-height: 50px;
    margin-top:20px;
}
.create_RefundList .createRefund span{
    display: inline-block;
    width:50px;
    height:30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    cursor: pointer;
}
.create_RefundList .createRefund span:nth-of-type(1){
    background: #f00;
    color: #fff;
    margin-right: 20px;
}
.create_RefundList .createRefund span:nth-of-type(2){
    background: #fff;
    color:#000;
}

/*分页*/
.pagination{
    margin-bottom: 0;
}
.pages{
    padding:0 2px;
}

#RefundGods_Manage  .pagination{
    float: right;
    margin: 10px 0;
}
#RefundGods_Manage .RefundGodsexcel_content{
    overflow: hidden;
}
#RefundGods_Manage .RefundGods_Make_excel{
    float: right;
    margin: 10px;
    text-decoration: none;
}




