*{
    margin:0;padding: 0;}
ul li{list-style: none;}
.fl{
    float: left;}
.fr{
    float: right;}


#platformOrder_Manage  ul li a{
    color: #333;
    background:#eee;
    height:50px;
    width:133.6px;
    text-align: center;
    border:1px #ccc solid;
    cursor: pointer;
    line-height: 30px;
    font-size: 14px;
    border-bottom:0;
    box-shadow: none;
}
#platformOrder_Manage  ul li.active a{
    box-shadow: none;
    border-bottom: 0;
    background: #ffffff;
    font-weight: bold;
}
#platformOrder_Manage{
    width: 100%;
    padding:0 30px;
    font-family: "微软雅黑";
    font-size: 14px;
}
#platformOrder_Manage h5{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}
    /*订单*/
#platformOrder_Manage .order_content .order_content_r{
    width:100%;
    min-height:300px;
    background: #fff;
    margin:0 auto;
    font-size: 14px;
    font-family: "微软雅黑";
}
/*订单筛选*/
#platformOrder_Manage .order_content_r .search_order{
    background: #eeeeee;
    padding:28px 30px;
    margin-bottom: 20px;
    color: #333;
}
#platformOrder_Manage .order_content_r .search_order>a{
    display: inline-block;
    margin-left: 2px;
}
#platformOrder_Manage .search_order span{
    display: inline-block;
    margin-bottom: 10px;
}
#platformOrder_Manage .search_order span:nth-of-type(even){
    margin-left: 70px;
}
#platformOrder_Manage .search_order span input{
    background: #fff;
    border: 1px #ddd solid;
    -webkit-border-radius:6px !important;
    -moz-border-radius:6px !important;
    border-radius:6px !important;
}

#platformOrder_Manage .search_order span .ipt{
    width: 200px;
    height:40px;
}

#platformOrder_Manage .search_order select{
    width:200px;height: 40px;
    background: #fff;
    border:1px #ddd solid;
    -webkit-border-radius:6px !important;
    -moz-border-radius:6px !important;
    border-radius:6px !important;
}
#platformOrder_Manage .search_order .filter{
    display: block;
    text-align: center;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background: red;
    border-radius:5px;
    margin:10px auto 0;
    border: none;
    color: #fff;
}
#platformOrder_Manage .search_order a.filter:hover{
    text-decoration: none;
}



/*订单列表*/
#platformOrder_Manage .tab-content .orders{
    width:103.3%;
}
#platformOrder_Manage .order_content_r .nav-tabs{
    border-bottom: 0;
}

#platformOrder_Manage .orders .tabs thead tr{
    height:50px;
}
#platformOrder_Manage .orders .tabs thead tr th{
    font-weight: bold;
}
#platformOrder_Manage .orders .tabs tr.order_title{
    background: #eee;
    height: 50px;
    border-bottom: 0;
}
#platformOrder_Manage .orders .tabs tr.order_title td{
    border-bottom:0;
}
#platformOrder_Manage .orders .tabs tr.order_title td:nth-of-type(1){
    text-align:left;
    padding-left:10px;
    border-right:0;
}
#platformOrder_Manage .orders .tabs tr.order_title td:nth-of-type(1) span:nth-of-type(1){
    margin-right: 15px
}
#platformOrder_Manage .orders .tabs tr.order_title td:nth-of-type(2){
    border-right:0
}

#platformOrder_Manage .orders .tabs tbody td{
    border:1px #ddd solid;
    text-align: center;
    border-top: 0;
    border-left:0;

}
#platformOrder_Manage .orders .tabs tbody td a.returnRefundStatus{
    color: #333;
}

#platformOrder_Manage .orders .tabs tbody a.details{
    font-size: 12px;
    display: inline-block;
    color: #0D64F4;
}
#platformOrder_Manage .orders .tabs tbody a.details:nth-of-type(2){
    margin-left: 18px;
}

/*取消订单*/
#platformOrder_Manage .orders .tabs tbody>tr>td>a.cancel{
    display: block;
    background: #fff;
    border:1px #ddd solid;
    width: 70px;
    padding:3px;
    margin:0 auto;
    cursor: pointer;
}

#platformOrder_Manage .order_image{
    width:80px;
    height:80px;
}
#platformOrder_Manage .orders .tabs tbody td.order_shop{
    text-align: left;
}
#platformOrder_Manage .orders .tabs tbody td.order_shop p{
    margin-bottom: 5px;
    clear: both;
    overflow: hidden;
}

#platformOrder_Manage .orders .tabs tbody td.order_shop a{
    display: block;
    width:95px;
    color: #333;
    font-size:12px;
    margin-left: 5px;
}
#platformOrder_Manage .orders .tabs tbody td.order_shop a span{
    display: block;
    text-align: left;
}
#platformOrder_Manage .orders .tabs tbody td.order_shop a span:nth-of-type(3){
    color: #999;
}


/*订单详情*/

/*订单流程*/
.OrderProcess{
    margin-top:2%;
}
.wizard-steps li{
    position:relative;
}
.wizard-steps li span.active{
    color:#333;
    font-weight:600;
}
.wizeard-Top{
    position: absolute;
    top: -23%;
    width: 100%;
    left:0;
}
/*订单流程*/

/*订单详细信息*/
.Orders_Messages{
    width:100%;
    clear: both;overflow: hidden;
    margin:0 20px;
    font-family: "微软雅黑";
    font-size: 14px;
}
.Orders_Messages .OrderDetail_Messages{
    width:38%;
    min-height: 265px;
    background: #eee;
    padding:5px 10px;
    margin:20px 6px 20px 0;
}
.Orders_Messages span{
    display: block;
    color: #666;
}
.Orders_Messages .OrderDetail_Messages div:nth-of-type(1){
    margin-bottom: 30px;
}

.Orders_Messages .OrderStatus_note{
    height:260px;
    width: 56%;
    margin-top: 20px;

}
.Orders_Messages .OrderDetail_Messages h4,.Orders_Messages .OrderStatus_note h4{
    font-size: 16px;font-family: 微软雅黑;
}
.Orders_Messages .OrderStatus_note .Order_Status{
    background: #eee;
    height:160px;padding:5px 10px;
    position: relative;
}
.Orders_Messages .OrderStatus_note .Order_Status>a{
    display: block;
    text-align: center;
    width:80px;
    height: 25px;
    line-height: 25px;
    background: mediumslateblue;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
}

.Orders_Messages .OrderStatus_note .Order_Status>a:hover,.Orders_Messages .OrderStatus_note .Message_note>a{
    text-decoration: none;
    cursor: pointer;
}

.Orders_Messages .OrderStatus_note .Message_note{
    background: #eee;
    margin-top:6px;
    position: relative;
    height:100px;
    padding:5px 10px;
}
.Orders_Messages .OrderStatus_note .Message_note>a.note{
    position: absolute;  right:10px;top: 10px;
    font-size: 14px;
}

/*订单详细信息*/

/*订单信息列表*/
.ShopMessage_Lists{
    margin: 0 20px;
}
.ShopMessage_Lists .GoodsMessage_List{
    width: 100%;
}
.ShopMessage_Lists .GoodsMessage_List table{
    text-align: center;
    width:100%;
    font-family: "微软雅黑";
    font-size: 14px;
}
.ShopMessage_Lists .GoodsMessage_List table>thead>tr{
    background: #ddd;
}
.ShopMessage_Lists .GoodsMessage_List table td,.ShopMessage_Lists .GoodsMessage_List table>thead th{
    border:1px #ddd solid;
}
.ShopMessage_Lists .GoodsMessage_List table>thead>tr>th{
    border:0;
    text-align: center;
    font-size: 14px;
    height:50px;
}
.ShopMessage_Lists .GoodsMessage_List table tbody>tr>td>a{
    display: inline-block;
    color: #555;
    width: 110px;
    text-align: left;
}
.ShopMessage_Lists .GoodsMessage_List table tbody>tr>td>a.cancel{
    display: block;
    width:70px;
    height:25px;
    line-height: 25px;
    text-align: center;
    border:1px #0000ff solid;
    margin:5px auto;
}
.ShopMessage_Lists .GoodsMessage_List table tbody>tr>td:nth-of-type(1){
    clear: both;
    overflow: hidden;
    text-align: left;
}
.ShopMessage_Lists .GoodsMessage_List table tbody>tr>td:nth-of-type(1) p{
    overflow: hidden;
    display: flex;
}
.ShopMessage_Lists .GoodsMessage_List table tbody>tr td:nth-of-type(1) img{
    width:80px;
    height: 80px;
    float: left;
    flex-grow: 1;
}
.ShopMessage_Lists .GoodsMessage_List table tbody>tr>td:nth-of-type(1) a{
    display: block;
    width:120px;
    font-size: 12px;
    color: #333;
    float: left;
    flex-grow: 1;
}
.ShopMessage_Lists .GoodsMessage_List table tbody>tr>td:nth-of-type(1) a span{
    display: block;
}
.ShopMessage_Lists .GoodsMessage_List table tbody>tr>td:nth-of-type(1) a span:nth-of-type(3){
    color: #999;
}

/*订单信息列表*/

/*分页*/
.pages{
    padding:0 2px;
}
.pagination{
    margin-bottom: 0;
    float: right;
}


#Plat_Check_pass，#Busic_Check_pass{
    display:block;
    background:blue;
}
/*退货Btn样式*/

/*退款中驳回按钮的样式*/

/*平台订单添加样式*/

#platformOrder_Manage .order_content_r .changeSearch_order{
    width:100%;
}
#platformOrder_Manage .orders .tabs thead tr{
    background: #eee;
}
#platformOrder_Manage .orders .tabs thead>tr th{
    border:none;
    text-align: center;
}
#platformOrder_Manage .order_content_r .changeStyle{
    width:100%;
}

#platformOrder_Manage .orders .changeTabs{
    width:99.9%;
}

/*订单详情页订单关闭流程样式改变*/
.wizard-steps li.error:before{
    border-color: red;
}
.wizard-steps li.error .step{
    border-color: #ddd;
    background: red;
    color: white;
}

/*查看退款单*/
.index-tab-cont .create_RefundTmp{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 99;
    background: #000;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    display: block;
}
.create_RefundList{
    width:400px;
    height:500px;
    background: #fff;
    margin:5% auto;
    z-index: 100;
    position: absolute;
    left:35%;
    top:5%;
}
.create_RefundList h4{
    width:100%;
    height:35px;
    line-height: 35px;
    background: #eee;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bolder;
    margin-top: -15px;
}
.create_RefundList table{
    width:100%;
    font-size: 14px;
    color: #000;
}
.create_RefundList table td{
    border:0;
}
.create_RefundList table>tr td:first-child{
    text-align: right;
    width:50%;
}
.create_RefundList table>tr td:last-child{
    text-align: left;
    width:50%;
}
.create_RefundList .createRefund{
    width:100%;
    height:50px;
    background: #eee;
    text-align: center;
    line-height: 50px;
    margin-top:20px;
}
.create_RefundList .createRefund span{
    display: inline-block;
    width:50px;
    height:30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    cursor: pointer;
}
.create_RefundList .createRefund span:nth-of-type(1){
    background: #f00;
    color: #fff;
    margin-right: 20px;
}
.create_RefundList .createRefund span:nth-of-type(2){
    background: #fff;
    color:#000;
}

/*分页*/
.pages{
    margin:0 2px;
}
#Platform_allOrders  .pagination{
    float: right;
    margin: 10px 0;
}
.excel_content{
    overflow: hidden;
}
#Platform_allOrders .Order_Make_excel{
    float: right;
    margin: 10px;
    text-decoration: none;
}