/*清浮动*/
.clear:after{
    content: "";
    clear: both;
    display: block;
}
.clear{
    zoom: 1;
}
.platform_home{
    width: 100%;
}
.platform_home h4{
    font-size: 14px;
    font-weight: normal;
}
.platform_home .classification_box{
    width: 100%;
    height: 130px;
    padding: 18px 0;
    background: #eeeeee;
    padding-left: 62px;
    box-sizing: border-box;
}
.classification_box .Pending_orders{
    float: left;
    text-align: center;
    margin-right: 100px;
}
.numerical{
    font-size: 18px;
    color: #c30000;
    font-weight: bold;
}
.annotation{
    font-size: 14px;

}